/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.
*/

/* greater than 375px  */
@media screen and (width >= 375px) {
	body,
	.container,
	.heading,
	.socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	body {
		background-color: var(--grey-900);
		color: var(--white);
		width: 100dvw;
		height: 100dvh;
	}

	/* container */
	.container {
		background-color: var(--grey-800);
		border-radius: 12px;
		width: 84dvw;
		height: 38.5rem;
		justify-content: space-between;
		transition: width 400ms ease;
		transition: height 400ms ease;
	}

	.heading,
	.socials {
		width: 100%;
		overflow: none;
	}
	.heading {
		height: 35%;
		justify-content: space-evenly;
	}

	/* avatar */
	.heading > header > img {
		border-radius: 50%;
		width: 50%;
		padding: 1.5rem 0 0.75rem 0;
	}
	/* my info */
	.heading > section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.heading > section > p {
		margin: 0;
	}
	.heading > #about {
		justify-content: space-evenly;
	}
	.heading > #about > p:first-child {
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0.75rem 0 0.4rem 0;
	}
	.heading > #about > p:nth-child(2) {
		color: var(--green);
		font-weight: 600;
		padding: 0.4rem 0 0.8rem 0;
	}
	.heading > #description > p {
		padding: 0.8rem 0 0.4rem 0;
	}

	/* buttons */
	.socials {
		justify-content: flex-start;
		height: 55%;
		gap: 1.1rem;
		padding: 0.4rem 0 0 0;
	}
	.socials > button {
		background-color: var(--grey-700);
		color: var(--white);
		border: none;
		border-radius: 8px;
		width: 85%;
		padding: 0.9rem 5rem;
		font-weight: 600;
	}
	/* button hover */
	.socials > button:hover {
		background-color: var(--green);
		color: var(--grey-900);
		transition: background-color 400ms ease;
		cursor: pointer;
	}

	/* footer */
	.attribution {
		font-size: 0.7rem;
		text-align: center;
		padding: 0.7rem 0;
	}
	.attribution a {
		color: var(--green);
	}
}

/* greater than 768px  */
@media screen and (width >= 768px) {
	body,
	.container,
	.heading,
	.socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	body {
		background-color: var(--grey-900);
		color: var(--white);
		width: 100dvw;
		height: 100dvh;
	}

	/* container */
	.container {
		background-color: var(--grey-800);
		border-radius: 12px;
		width: 50dvw;
		height: 37.5rem;
		justify-content: space-between;
		transition: width 400ms ease;
		transition: height 400ms ease;
	}

	.heading,
	.socials {
		width: 100%;
		overflow: none;
	}
	.heading {
		height: 35%;
		justify-content: space-evenly;
	}

	/* avatar */
	.heading > header > img {
		border-radius: 50%;
		width: 50%;
		padding: 1.5rem 0 0.75rem 0;
	}
	/* my info */
	.heading > section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.heading > section > p {
		margin: 0;
	}
	.heading > #about {
		justify-content: space-evenly;
	}
	.heading > #about > p:first-child {
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0.75rem 0 0.4rem 0;
	}
	.heading > #about > p:nth-child(2) {
		color: var(--green);
		font-weight: 600;
		padding: 0.4rem 0 0.8rem 0;
	}
	.heading > #description > p {
		padding: 0.8rem 0 0.4rem 0;
	}

	/* buttons */
	.socials {
		justify-content: flex-start;
		height: 55%;
		gap: 1.1rem;
		padding: 0.4rem 0 0 0;
	}
	.socials > button {
		background-color: var(--grey-700);
		color: var(--white);
		border: none;
		border-radius: 8px;
		width: 85%;
		padding: 0.9rem 5rem;
		font-weight: 600;
	}
	/* button hover */
	.socials > button:hover {
		background-color: var(--green);
		color: var(--grey-900);
		transition: background-color 400ms ease;
		cursor: pointer;
	}

	/* footer */
	.attribution {
		font-size: 0.7rem;
		text-align: center;
		padding: 0.7rem 0;
	}
	.attribution a {
		color: var(--green);
	}
}

/* greater than 1024px  */
@media screen and (width >= 1024px) {
	body,
	.container,
	.heading,
	.socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	body {
		background-color: var(--grey-900);
		color: var(--white);
		width: 100dvw;
		height: 100dvh;
	}

	/* container */
	.container {
		background-color: var(--grey-800);
		border-radius: 12px;
		width: 38dvw;
		height: 37.5rem;
		justify-content: space-between;
		transition: width 400ms ease;
		transition: height 400ms ease;
	}

	.heading,
	.socials {
		width: 100%;
		overflow: none;
	}
	.heading {
		height: 35%;
		justify-content: space-evenly;
	}

	/* avatar */
	.heading > header > img {
		border-radius: 50%;
		width: 50%;
		padding: 1.5rem 0 0.75rem 0;
	}
	/* my info */
	.heading > section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.heading > section > p {
		margin: 0;
	}
	.heading > #about {
		justify-content: space-evenly;
	}
	.heading > #about > p:first-child {
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0.75rem 0 0.4rem 0;
	}
	.heading > #about > p:nth-child(2) {
		color: var(--green);
		font-weight: 600;
		padding: 0.4rem 0 0.8rem 0;
	}
	.heading > #description > p {
		padding: 0.8rem 0 0.4rem 0;
	}

	/* buttons */
	.socials {
		justify-content: flex-start;
		height: 55%;
		gap: 1.1rem;
		padding: 0.4rem 0 0 0;
	}
	.socials > button {
		background-color: var(--grey-700);
		color: var(--white);
		border: none;
		border-radius: 8px;
		width: 85%;
		padding: 0.9rem 5rem;
		font-weight: 600;
	}
	/* button hover */
	.socials > button:hover {
		background-color: var(--green);
		color: var(--grey-900);
		transition: background-color 400ms ease;
		cursor: pointer;
	}

	/* footer */
	.attribution {
		font-size: 0.7rem;
		text-align: center;
		padding: 0.7rem 0;
	}
	.attribution a {
		color: var(--green);
	}
}

/* greater than 1440px  */
@media screen and (width >= 1440px) {
	body,
	.container,
	.heading,
	.socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	body {
		background-color: var(--grey-900);
		color: var(--white);
		width: 100dvw;
		height: 100dvh;
	}

	/* container */
	.container {
		background-color: var(--grey-800);
		border-radius: 12px;
		width: 25dvw;
		height: 37.5rem;
		justify-content: space-evenly;
	}

	.heading,
	.socials {
		width: 100%;
		overflow: hidden;
	}
	.heading {
		height: 40%;
		justify-content: space-evenly;
	}

	/* avatar */
	.heading > header > img {
		border-radius: 50%;
		width: 50%;
		padding: 1.5rem 0 0.75rem 0;
	}
	/* my info */
	.heading > section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.heading > section > p {
		margin: 0;
	}
	.heading > #about {
		justify-content: space-evenly;
	}
	.heading > #about > p:first-child {
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0.75rem 0 0.4rem 0;
	}
	.heading > #about > p:nth-child(2) {
		color: var(--green);
		font-weight: 600;
		padding: 0.4rem 0 0.8rem 0;
	}
	.heading > #description > p {
		padding: 0.8rem 0 1rem 0;
	}

	/* buttons */
	.socials {
		justify-content: center;
		height: 60%;
		gap: 1.1rem;
		padding: 0 0 0 0;
	}
	.socials > button {
		background-color: var(--grey-700);
		color: var(--white);
		border: none;
		border-radius: 8px;
		width: 85%;
		/* padding: 0.9rem 0rem; */
		font-weight: 600;
	}
	/* button hover */
	.socials > button:hover {
		background-color: var(--green);
		color: var(--grey-900);
		transition: background-color 400ms ease;
		cursor: pointer;
	}

	/* footer */
	.attribution {
		font-size: 0.7rem;
		text-align: center;
		padding: 0.7rem 0;
	}
	.attribution a {
		color: var(--green);
	}
}
